/** gridly **/
.row{display:flex}.col{flex:1}@media(max-width:48em){.row{flex-direction:column}.col{flex:0 0 auto}}
@media(min-width:48em){.col-tenth{flex:0 0 10%}.col-fifth{flex:0 0 20%}.col-quarter{flex:0 0 25%}.col-third{flex:0 0 33.3333334%}.col-half{flex:0 0 50%}}

::placeholder {
  color: #42454e;
}

input, button {
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

:root {
  --searchBackgroundColor: #42454e;
  --searchBorderRadius: .125rem;
  --searchFontSize: .75rem;
  --searchPadding: .5rem;

  --searchInputBorderRadius: .125rem;

  --searchInputSearchBackgroundColor: #fff;
  --searchInputSearchColor: #42454e;
  --searchInputSearchPaddingHorizontal: .5rem;
  --searchInputSearchPaddingVertical: .375rem;

  --searchInputButtonBackgroundColor: #1bba9a;
  --searchInputButtonColor: #fff;
  --searchInputButtonReverseBackgroundColor: #fff;
  --searchInputButtonReverseColor: #42454e;
  --searchInputButtonFontWeight: bold;
  --searchInputButtonPaddingHorizontal: .625rem;
  --searchInputButtonPaddingVertical: .375rem;
  --searchInputButtonReverseHoverBackgroundColor: #b2b5bd;
  --searchInputButtonHoverBackgroundColor: #189e83;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--searchPadding);
  padding-right: var(--searchPadding);
}

.block {
  background-color: var(--searchBackgroundColor);
  border-radius: var(--searchBorderRadius);
  font-size: var(--searchFontSize);
  padding-top: var(--searchPadding);
  padding-bottom: var(--searchPadding);
}

.block input,
.block button {
  border-radius: var(--searchInputBorderRadius);
}

.block input {
  flex-grow: 1;
  box-sizing: content-box;
  background-color: var(--searchInputSearchBackgroundColor);
  color: var(--searchInputSearchColor);
  padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}

.block button {
  background-color: var(--searchInputButtonBackgroundColor);
  color: var(--searchInputButtonColor);
  font-weight: var(--searchInputButtonFontWeight);
  margin-left: .5rem;
  padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.block button.reverse {
  background-color: var(--searchInputButtonReverseBackgroundColor);
  color: var(--searchInputButtonReverseColor);
}

.block button:focus,
.block button:hover {
  background-color: var(--searchInputButtonHoverBackgroundColor);
}

.block button.reverse:focus,
.block button.reverse:hover {
  background-color: var(--searchInputButtonReverseHoverBackgroundColor);
}

html {
  font-size: 97%;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #61646d;
  color: #000;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  text-align: justify;
}

.error {
  color: red;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.menu li {
}

.clear {
  clear: both;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.bookmark {
  max-width: 25%;
  box-sizing: border-box;
  border: solid 0.5em transparent;
  position: relative;
  padding: 10px;
}

.bookmark::before {
  background: #fff;
  border-radius: var(--searchInputBorderRadius);
  border: 1px solid #42454e;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bookmark img {
  max-width: 100%;
  border: 1px solid #787d8c;
  border-radius: var(--searchInputBorderRadius);
}

.bookmark h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  height: 3em;
  overflow: hidden;
}
