version: '2'

services:
    mercure:
        image: dunglas/mercure
        ports:
            - "8010:80"
        environment:
            - JWT_KEY=!UnsecureChangeMe!
            - ALLOW_ANONYMOUS=1
            - PUBLISH_ALLOWED_ORIGINS=*
            - CORS_ALLOWED_ORIGINS=*
    rabbitmq:
        image: rabbitmq:3
        ports:
            - "5672:5672"
    elasticsearch:
        image: elasticsearch:6.6.1
        ports:
            - "9200:9200"
